[Unit]
Description=mesos-dns
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull mesosphere/%p
ExecStart=/usr/bin/docker run --net=host --name %p -p 53:53/udp -v ~/mesos-dns-config.json:/config.json mesosphere/mesos-dns /mesos-dns -v 2 -config=config.json

ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=900s

[X-Fleet]
# Conflicts=%p@*.service
MachineOf=mesos-master@%i.service

