[Unit]
Description=mesos-master
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull mesosphere/mesos-master:0.23.0-1.0.ubuntu1404
ExecStart=/usr/bin/docker run --net=host --name %p-%i -e 'MESOS_ZK=zk://10.105.0.1:2181,10.105.0.3:2181,10.105.0.5:2181,10.105.0.7:2181,10.105.0.9:2181/mesos' -e 'MESOS_CLUSTER=DSRA' -e 'MESOS_QUORUM=2' -p 5050:5050 mesosphere/mesos-master:0.23.0-1.0.ubuntu1404
ExecStop=/usr/bin/docker stop %p-%i
TimeoutStartSec=900s

[X-Fleet]
Conflicts=%p@*.service
MachineMetadata=role=service
  

