#
#       AUTHOR: Matt Parker
#  DESCRIPTION: DRSA Marathon HAProxy configuration. 
#               Configuration based on https://serversforhackers.com/load-balancing-with-haproxy
#      CREATED: 9/3/2015
# 

global
  daemon
  maxconn 100

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend hub
   bind *:8080
   mode http
   default_backend marathon

backend marathon
   balance roundrobin
   mode http
   server marathon1 10.105.0.1:8080 check
   server marathon2 10.105.0.9:8000 check
