[Unit]
Description=kafka-manager
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=/usr/bin/docker pull aarongdocker/kafka-manager
ExecStartPre=-/usr/bin/docker rm -v %p
ExecStart=//usr/bin/docker run --name %p --restart on-failure:5 --log-driver=journald \
 -e ZK_HOSTS=r105u01.dsra.local:2181,r105u03.dsra.local:2181,r105u05.dsra.local:2181,r105u07.dsra.local:2181,r105u09.dsra.local:2181 \
 -e APPLICATION_SECRET=pleaseletmeplaywiththeothers \
 -p 9000:9000 aarongdocker/kafka-manager
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=900s

[X-Fleet]
MachineMetadata=ip=10.105.0.1
