[Unit]
Description=journalnode
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=/usr/bin/docker pull aarongdocker/hdfs
ExecStartPre=-/usr/bin/docker create --name jornalnode-data aarongdocker/hdfs /bin/true
ExecStartPre=-/usr/bin/docker rm -v %p
ExecStart=/usr/bin/docker run --name %p --restart on-failure:5 --log-driver=journald --volumes-from jornalnode-data -e CLUSTER_NAME=dsra -e NNODE1_IP=r105u01 -e NNODE2_IP=r105u03 -e ZK_IPS=r105u01:2181,r105u03:2181,r105u05:2181,r105u07:2181,r105u09:2181 -e JN_IPS=r105u01:8485,r105u03:8485,r105u05:8485,r105u07:8485,r105u09:8485 -p 8485:8485 -p 8480:8480 aarongdocker/hdfs journalnode
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=900s

[X-Fleet]
Global=true
MachineMetadata=role=service
